/*
*
*   Grid System (0.9.3)     <http://theplasticfactory.us/gs/>
*   by Michael Johnson      <http://theplasticfactory.us/>
*
*   A twelve-column responsive grid layout inspired by Joni Korpi's GGS.
*	
*   Usage:
*   Class Semantics  .g  `group`
*                    .u  `unit`
*                    .s  `space`
*
*   Default Breakpoints
*   Add or remove to suit, For example, you may want to go to a 2 column 
*   layout at 724. Remember to adjust container widths to your design. 
*   Defaults are only a guideline, and are otherwise arbitrary.
*
*   Screen  |   .container  |   Columns
*   -----------------------------------
*   < 768       100%            1 
*   768-1023    724             12
*   1024-1199   960             12
*   1200        1150            12
*   
*/

/*
*   Zoomable baseline grid
*   type size presets
*/
body { padding: 0 1em; font-size: 1em; line-height: 1.5em;/* 16px / 24px */ }

/*
*   Container, fixed or fluid
*   - Mobile first default is `auto`
*   - Set your preferred container widths under
*     @media queries below
*/
.container { width: auto; min-width: 10em;/* 160px */ margin: 0 auto; }
.container-fluid { width: 100%; padding-left: 0px !important; padding-right: 0px !important; }

/*
*   Add clearfix to our wrapper by default as most units are floated
*/
.g:before,
.g:after { content: " "; display: table; }
.g:after { clear: both; }
.g { *zoom: 1; }

/*
*   Optional `no-fold` helper class on `g` element prevents 
*   clearing of floated elements set on :nth-child.
*/
.no-fold .u, .no-fold [class*="u-"], .no-fold .u-1-12, .no-fold .u-2-12, .no-fold .u-3-12, 
.no-fold .u-4-12, .no-fold .u-5-12, .no-fold .u-6-12, .no-fold .u-7-12, 
.no-fold .u-8-12, .no-fold .u-9-12, .no-fold .u-10-12, .no-fold .u-11-12, 
.no-fold .u-12-12 { clear: none !important; }

/*
*   Defaults: Mobile first
*/
.g { margin: 0 -0.5em; } /* Match padding on .u below */
.container-fluid .g { margin: 0 5.555555555555555%; } /* Margin size is arbitrary */

.u, [class*="u-"], .u-1-12, .u-2-12, .u-3-12, .u-4-12, .u-5-12, .u-6-12, .u-7-12, 
.u-8-12, .u-9-12, .u-10-12, .u-11-12, .u-12-12 { 
    float: left; 
    min-height: 1px; 
    width: 100%; 
    margin: 0;
    padding: 0 0.5em; /* Elastic gutters [(0.5em x 2) * 16 = 16px] */
    /* `border-box` allows width to be calculated independent of padding
     * <http://paulirish.com/2012/box-sizing-border-box-ftw/>
     * <http://html5please.com/#box-sizing>
    */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* `box-sizing` isn't supported in IE6-7, so we use a polyfill
     * <https://github.com/Schepp/box-sizing-polyfill>
    */
    *behavior: url(/js/vendor/boxsizing.htc);
}
.u-12-12 { float: none !important; width: 100%; }

/*
*   For IE6- or IE7 w/o JS, fallback to a single
*   column layout via our conditional comment classes on <html>.
*/
.lt-ie7 body, .no-js.lt-ie8 body { width: 40em; margin: 0 auto; font-size: 1.0625em; }
.lt-ie7 .container, .no-js.lt-ie8 .container { width: auto !important; }
.lt-ie7 .g, .no-js.lt-ie8 .g { margin-left: 0 !important; margin-right: 0 !important; }
.lt-ie7 .g .u, .no-js.lt-ie8 .g .u { float: none !important; width: 100% !important; margin: 0px !important; }

/*
*
*  Two-column grid 
*  --------------------------------
*  Margin   | #  1   2   |   Margin
*  xxx%     | %  50  50  |   xxx%
*
*/
/* 
@media screen and (min-width: 768px) 
*/
@media screen and (min-width: 48em) {

    .container { width: 45.25em; } /* 724px */
    
    /* We use selectivizr.js for this to work in IE6-8,
     * If no JS, would need to manually clear for these browsers.
    */
    .g .u:nth-child(odd), .g [class*="u-"]:nth-child(odd) { clear: left; }
    
    .g .u-1-12 { width: 50%; }
    .g .u-2-12 { width: 50%; }
    .g .u-3-12 { width: 50%; }
    .g .u-4-12 { width: 50%; }
    .g .u-5-12 { width: 50%; }
    .g .u-6-12 { width: 50%; }
    .g .u-7-12 { width: 50%; }
    .g .u-8-12 { width: 50%; }
    .g .u-9-12 { width: 50%; }
    .g .u-10-12 { width: 50%; }
    .g .u-11-12 { width: 50%; }

}

/*
*
*   Twelve-column grid
*   -----------------------------------------------------------------------------------------------
*   Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    |   Margin
*   xxx%     | %  8.33  16.66  18.75 25.0  31.25 50  43.75 50.0  56.25 62.5  68.75 100.00 |   xxx%
*
*/
/* 
@media screen and (min-width: 768px) 
*/
@media screen and (min-width: 48em) {
    
    .container { width: 45.25em; } /* 724px */

    .g .u, .g [class*="u-"] { clear: none !important; }
    .container-fluid .g .u:first-child, .container-fluid .g [class*="u-"]:first-child { padding-left: 0 !important; }
    .container-fluid .g .u:last-child, .container-fluid .g [class*="u-"]:last-child { padding-right: 0 !important; }
    
    .g .u-1-12 { width: 8.333333333333334%; word-wrap: break-word; }
    .g .u-2-12 { width: 16.666666666666667%; }
    .g .u-3-12 { width: 25%; }
    .g .u-4-12 { width: 33.333333333333334%; }
    .g .u-5-12 { width: 41.666666666666667%; }
    .g .u-6-12 { width: 50%; }
    .g .u-7-12 { width: 58.333333333333334%; }
    .g .u-8-12 { width: 66.666666666666667%; }
    .g .u-9-12 { width: 75%; }
    .g .u-10-12 { width: 83.333333333333334%; }
    .g .u-11-12 { width: 91.666666666666667%; }
    
    .g .s-1-12 { margin-left: 8.333333333333334%; }
    .g .s-2-12 { margin-left: 16.666666666666667%; }
    .g .s-3-12 { margin-left: 25%; }
    .g .s-4-12 { margin-left: 33.333333333333334%; }
    .g .s-5-12 { margin-left: 41.666666666666667%; }
    .g .s-6-12 { margin-left: 50%; }
    .g .s-7-12 { margin-left: 58.333333333333334%; }
    .g .s-8-12 { margin-left: 66.666666666666667%; }
    .g .s-9-12 { margin-left: 75%; }
    .g .s-10-12 { margin-left: 83.333333333333334%; }
    .g .s-11-12 { margin-left: 91.666666666666667%; }

}

/* 
@media screen and (min-width: 1024px) 
*/
@media screen and (min-width: 64em) {
    
    .container { width: 60em; } /* 960px */
    
}

/* 
@media screen and (min-width: 1200px) 
*/
@media screen and (min-width: 75em) {
    
    .container { width: 71.875em; } /* 1150px */
    .container-fluid .g { margin: 0 15%; }

}

/* 
@media screen and (min-width: 2080px) 
 */
@media screen and (min-width: 130em) {

    body { max-width: 160em; font-size: 1.125em; } /* Zoom baseline grid to 18/16 = 1.125 */
    .container { /*width: 80em;*/ } /* 1280px */
    .container-fluid .g { margin: 0 20%; }
    
}